{% extends "base.html" %}
{% block title %}Login{% endblock %}

{% block content %}
<h2>Login</h2>

<form method="POST">
    <div class="section">
        <label>Email</label>
        <input type="email" name="email" required>
    </div>

    <div class="section">
        <label>Password</label>
        <input type="password" name="password" required>
    </div>

    <button type="submit">Login</button>
</form>

<p class="muted" style="margin-top:20px;">
    Don’t have an account? <a href="/signup">Create one</a>
</p>
{% endblock %}