{% extends "base.html" %}
{% block title %}Sign Up{% endblock %}

{% block content %}
<h2>Create Account</h2>

<form method="POST">
    <div class="section">
        <label>Email</label>
        <input type="email" name="email" required>
    </div>

    <div class="section">
        <label>Password</label>
        <input type="password" name="password" required>
    </div>

    <button type="submit">Create Account</button>
</form>

<p class="muted" style="margin-top:20px;">
    Already have an account? <a href="/login">Login</a>
</p>
{% endblock %}